.site-footer{
    position: relative;
    background-color: lightblue;
    width: auto;
    font-family: 'Arial';
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

.about-us{
    float: left;
    text-align: left;
}

.copyright-text{
    float: right;
    text-align: right;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover {
    /*background-color: #111111;*/
    color: darkcyan;
}

