div.login-div {
    padding: 20px;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-form > h2 {
    text-align: center;
}

/*button[type="submit"] {
    width: fit-content;
    height: fit-content;
    padding: 4px;
    background-color: #3a70d3;
    border: 2px solid #3a70d3;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-top: 15px;
}*/

/*button[type="submit"]:hover {
    background-color: lightblue;
    opacity: 0.7;
    color: #000;
}*/

input[type="text"],
input[type="password"] {
    width: 90%;
    height: 30px;
    padding: 0px 10px;
    border-radius: 10em;
    background-color: #fff;
    color: #000;
}

input#text {
    margin-bottom: 1em;
}

@media (min-width: 480px) {
    body {
        margin: 0 auto;
    }
}