nav{
    /*background-color: #333333;*/
    background-color: lightblue;
}
nav ul{
    list-style: none;
    text-align: center;
    overflow: hidden;
}
nav ul li{
    display: inline-block;
    margin: 0 10;
    
}

nav ul li img {
    padding-top: 0.5em;
    margin-right: 15px;
    float: right;
}

nav ul li a {
    display: block;
    width: 100px;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-family: 'Arial';
    font-size: large;
}
nav ul li a:hover {
    /*background-color: #111111;*/
    background-color: gray;
}