nav{
    /*background-color: #333333;*/
    background-color: lightblue;
}
nav ul{
    list-style: none;
    text-align: center;
    overflow: hidden;
}
nav ul li{
    display: inline-block;
}

nav ul li a{
    text-align: center;
    display: inline;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    font-family: 'Arial';
    font-size: large;
}

nav ul li a img{
    padding: 0.5em;
    vertical-align: middle;
}

nav ul li:hover {
    /*background-color: #111111;*/
    background-color: gray;
}